---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Navbar from '@/components/Navbar/index.astro'
import { ToastContainer } from 'react-toastify';
import 'react-toastify/dist/ReactToastify.css';
---

<!doctype html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark:bg-[#222222] bg-[#F5F5DC] flex flex-col h-screen w-full">
		<main>
			<Navbar />
			<slot />
		</main>
		
		<ToastContainer
			position="bottom-right"
			autoClose={3000}
			hideProgressBar={false}
			newestOnTop={false}
			closeOnClick
			rtl={false}
			pauseOnFocusLoss
			draggable
			pauseOnHover
			theme="dark"
			client:load 
		/>
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	h1, h2, h3, p{
		color: black;
	}
	main {
		width: 100%;
        display: flex;
        flex-direction: column;
        height: 100vh;
        max-height: 100vh;
        overflow-y: auto;
    }
</style>

<script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
    } else {
        document.documentElement.classList.remove('dark')
    }
</script>